.student-row{
    margin-right: -15px;
    margin-left: -15px;
}
.student-profile{
    width: 33.33333333%;
    float: left;
    min-height: 1px;
    padding-right: 15px;

}
.student-profile-info{
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 6px;
}
.student-profile-img{

}
.student-profile-img img{
    width: 100%;
}
.student-profile-detail{
    margin-top: 20px;
    
}
.student-profile-header{
    margin-right: -15px;
    margin-left: -15px;
}
.student-profile-infor-detail{
    width: 50%;
    float: left;
}
.student-profile-infor-detail h6{
    font-size: 15px;
    line-height: 24px;
    color: #303030;
    margin: 0;
}
.student-profile-infor-detail p{
    font-size: 15px;
    line-height: 24px;
    color: #303030;
    margin: 0;
}
.address-student{
    text-align: center;
    margin: 5px 0px;
}
.address-student h6{
    font-size: 15px;
    line-height: 24px;
    color: #303030;
    margin: 0;
}
.address-student p{
    font-size: 15px;
    line-height: 24px;
    color: #303030;
    margin: 0;
}
.activity-detail{
    margin-top: 0px;
    background: #fff;
}
.student-tab-list{
    display: block;
    
}
.student-main{
    width: 66.66666667%;
    background: #fff;
}
.student-main-inner{
    padding: 20px;
    background: #fff;
    border-radius: 6px;
}
.student-active{
    list-style: outside none none;
    margin: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 15px;
}
.active{
    display: inline-block;
}
.student-fluid{
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}
.active a{
    padding-right: 40px;
    text-transform: capitalize;
    position: relative;
    transition: all .4s ease 0s;
    color: #006DF0 !important;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #909090;
}
.student-row{
    display: flex;
}
.student-row-content{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}
.student-row-session{
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
}
.student-row-session-item{
    width: 25%;
    float: left;
}
.student-hr-address{
    text-align: left;
    margin: 5px 0px;
}
.student-hr-address h6{
    color: #303030;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
.student-hr-address p{
    color: #303030;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
.student-content-profile p{
    color: #303030;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.student-skill{
    margin-bottom: 20px;
}
.skill-test-title h3{
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: 700;
}
.skill-test-title p{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.progress-mini{
    height: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.student-progress h3{
    margin: 0;
}
.progress-bar-blue{
    color: blue;
}
.progress-bar-purple{
    width: 90%;
}
.progress-bar-red{
    width: 50%;
}
.progress-bar-green{
    width: 75%;
}