.search-container {
    width: 100%;
    height: 75px;
    background-color: white;
    margin: 0 auto; /* Để canh giữa div */
    display: flex;
    align-items: center; /* Canh giữa theo chiều dọc */
    border-radius: 5px;
  }
  
  .search-input {
    border: 1px solid #ececec;
    font-size: 14px;
    height: 34px;
    color: #303030;
    padding-left: 20px;
    padding-right: 40px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    border-radius: 30px;
    width: 200px;
    margin-left: 20px;
  }
  
  .search-container i{
    position: absolute;
    margin-left: 240px;
  }
  .container-courseFees {
    display: flex;
    justify-content: space-between;
  }
  
  .box-courseFees {
    width: 290px;
    height: 100px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  
  .distance-center-15{
      margin-left: 15px;
      margin-right: 15px;
  }
  
  .distance-start-15{
      margin-right: 15px;
  }
  
  .distance-end-15{
      margin-left: 15px;
  }
  
  .courseFees-content{
      margin: 0;
  }
  
  .box-courseFees h4{
      margin: 8px 0 0 0 ;
  }
  
  .tuition-fees{
      font-size: 14px;
      float: right;
      margin-top: 8px;
      color: #999;
  }
  
  .progress-bar{
      height: 4px;
      background-color: #f5f5f5;
      border-radius: 4px;
      margin-top: 8px;
  }
  
  .progress-bar-success{
      height: 4px;
      background-color: #3f8acc;
      border-radius: 4px;
      width: 30%;
  }
  
  .progress-bar-purple{
      height: 4px;
      background-color: #9f3fcc;
      border-radius: 4px;
      width: 30%;
  }
  
  .progress-bar-green{
      height: 4px;
      background-color: #63f046;
      border-radius: 4px;
      width: 30%;
  }
  
  .progress-bar-red{
      height: 4px;
      background-color: #ce3939;
      border-radius: 4px;
      width: 30%;
  }
  .container-main-image {
    /* 15px padding trái và phải */
    margin: 0 auto; /* Để canh giữa div */
  }
  
  .image-container {
    width: 74.5%;
    padding: 20px; /* 20px padding xung quanh ảnh */
    float: left;
    background-color: white;
    border-radius: 6px;
  }
  
  img {
    width: 100%;
    height: auto; /* Để duy trì tỷ lệ khung hình */
  }
  
  .International {
    width: 23%;
    background-color: white;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    padding-top: 15px;
  }
  .International li {
    width: 100%;
    margin-bottom: 10px;
  }
  .number-student {
    margin: 0;
  }
  .location {
    float: left;
  }
  .percent {
    float: right;
    display: flex;
  }
  .Student-bar {
    height: 4px;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-top: 35px;
  }
  .Student-bar-purple {
    height: 4px;
    background-color: #3f8acc;
    border-radius: 4px;
    width: 75%;
  }
  .Student-bar-UK {
    height: 4px;
    background-color: #32dbdb;
    border-radius: 4px;
    width: 55%;
  }
  
  .Student-bar-Can {
    height: 4px;
    background-color: #58f139;
    border-radius: 4px;
    width: 20%;
  }
  .Student-bar-VN {
    height: 4px;
    background-color: #e73737;
    border-radius: 4px;
    width: 60%;
  }
  .Student-bar-In {
    height: 4px;
    background-color: #e4f045;
    border-radius: 4px;
    width: 33%;
  }
  .container-univer-infor {
    display: flex;
    width: 100%;
    margin-top: 25px;
  }
  
  .box-univer-social {
    flex: 1;
    padding: 20px;
    margin-right: 15px;
    margin-top: 25px;
    background: #fff;
    overflow: hidden;
  }
  .box-univer-top {
    flex: 1;
    padding: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 25px;
    background: #fff;
    overflow: hidden;
  }
  .box-univer-club {
    flex: 1;
    padding: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 25px;
    background: #fff;
    overflow: hidden;
  }
  
  .school-img {
    width: 100%;
    height: 50%;
  }
  
  .school-single {
    padding: 20px;
    text-align: center;
  }
  
  .school-single-img {
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    margin-top: -59px;
  margin-left: 105px;
  }
  
  .school-single-title :hover{
    color: #337ab7;
  }
  
  .school-single-title {
    cursor: pointer;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    color: #006df0;
  }
  
  .follow-cart{
    font-size: 14px;
      color: #fff;
      background: #006DF0;
      display: inline-block;
      padding: 5px 20px;
      border-radius: 3px;
      margin-top: 20px;
  }
  
  .single-review-school h3{
    margin: 0;
  }
  
  .review-student{
    padding: 7.7px 0px;
    display: flex;
  }
  
  .review-student img{
    height: 50px;
      width: 50px;
      border-radius: 50%;
  }
  
  .review-student-name{
    margin-top: 5px;
    margin-left: 15px;
  }
  
  .review-student-name h3 {
    margin: 0;
  }
  
  .review-student-name p {
    margin: 0;
  }
  .student-ratting{
    text-align: right;
    margin-left: auto;
    margin-top: 5px;
    display: flex;
  }
  
  .star-ratting{
    font-size: 14px;
      margin-top: 15px;
      color: #ffb463;
  }
  .single-product-img img{
    width: 100%;
  }
  .single-product-text h5{
    margin: 0;
    font-weight: 700;
    font-size: 18px;
  }
  .single-product-text h6{
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 0;
    color: #444;
    font-size: 14px;
    font-weight: 300;
  }
  .single-product-text{
    text-align: left;
    padding: 20px 0px 0px 0px;
  }
  .button-cart-btn{
    border: none;
    background: #006DF0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all .4s ease 0s;
    font-size: 14px;
    cursor: pointer;
  }
  .button-default{
    border: none;
    background: #006DF0;
    color: #fff;
    padding: 4px  10px  ;
    border-radius: 3px;
    transition: all .4s ease 0s;
    font-size: 14px;
    margin: 0 5px 0 5px;
    cursor: pointer;
    height: 31px;
  }