.student-row{
    margin-right: -15px;
    margin-left: -15px;
}
.student-profile{
    width: 33.33333333%;
    float: left;
    min-height: 1px;
    padding-right: 15px;

}
.student-profile-info{
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 6px;
}

.course-area{
    margin-right: -15px;
    margin-left: -15px;
}
.course-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.course-row{
    width: 25%;
    float: left;
}
.course-item{
    padding: 20px;
    background: #fff;
    margin: 10px;
    border-radius: 6px;
}
.course-item-title{

}
.course-item-title a{

}
.course-item-title h3{
    font-size: 20px;
    font-weight: 600;
    color: #006df0 ;
    cursor: pointer;
}
.course-des p{
    margin: 0;
}
.course-fluid{

}
.course-fluid{

}
