.icon_menu-user {
  font-size: 30px;
}
.header-left {
  height: 60px;
  background-color: #006df0;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 18px;
  width: 85%;
}
.search-bar {
  width: 100%;
}

.course-fees {
  margin-top: 25px;
}

.container-main-img {
  margin-top: 25px;
}

.university-information-social {
}
.User-information {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user_name {
  padding-left: 15px;
  padding-right: 10px;
}
.icon_menu-down {
  padding-top: 5px;
}
.Logo a {
  text-decoration: none;
  color: white;
  font-size: 31px;
  font-weight: 600;
}
.Logo {
}
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: inline-block;
  margin-right: 20px; /* Khoảng cách giữa các mục li */
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
.container_header {
  padding-left: 8px;
  display: flex;
  align-items: center;
}
.icon_menu {
  padding: 10px;
  margin-top: 8px;
  cursor: pointer;
}
.navContent {
  padding-left: 20px;
}
.header-inside{
    width: 100%;height: 60px;
    background-color: #006df0;
    color: #fff;
    display: flex;
    align-items: center;
}