.teacher-table {
    width: 100%;
    border-collapse: collapse;
}

/* Định dạng cho tiêu đề cột */
.teacher-table th {
    background-color: #ffffff;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
}

/* Định dạng cho dòng dữ liệu */
.teacher-table td {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #ffffff;
}

/* Định dạng cho cột hành động (button xóa) */
.teacher-table .delete-button {
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Định dạng hover trên button xóa */
.teacher-table .delete-button:hover {
    background-color: #cc0000;
}


.container-courseFees {
display: flex;
justify-content: space-between;
}
.add-btn{
    float: right;
    margin-top: 30px;
    margin-bottom: 15px;
}
.add-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.add-button:hover {
background-color: #0056b3;
}

.add-teacher-form {
width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(-20px);
  margin-bottom: 30px;
}

.form-group {
margin-bottom: 10px;
}

label {
display: block;
font-weight: bold;
}

.add-teacher-form.form-visible {
    opacity: 1;
    transform: translateY(0);
}

.Teacher-m-input{
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.title-add{
    margin-bottom: 10px;
    float: left;
    margin-left: 12px;
}
.button-add-teacher{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 140px;
}

.delete-teacher{
    background-color: #ff1a1a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 120px;
}

.button-cancel-teacher{
    background-color: #f33847;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 15px;
    width: 120px;
}
.detail-teacher{
    margin-left: 20px;
}