.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  height: 60px;
  background-color: #006df0;
  color: #fff;
  display: flex;
  align-items: center;
}
.main-content {
  display: flex;
  flex: 1;
  width: 100%;
}
.sidebar {
  width: 250px;
  background-color: #ffffff;
  color: #9ba7ac;
}

.content {
  flex-grow: 1;
  background-color: #f6f8fa;
  padding: 20px;
  width: 85%;
}
